<!-- Dossier Section -->
<section id="disclaimer">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Disclaimer</h2>
        <h3 class="section-subheading text-muted">
          What is all this really about?
        </h3>
        <p>
        We are a bunch of actual geeks, we hang out at a place called <a href="http://ascii-dresden.de/">ascii</a> which is an actual café, residing in the <a href="https://www.openstreetmap.org/relation/2018084">APB</a> of the <a href="http://tu-dresden.de">TU-Dresden</a>.
        We grew tired of being asked why that place is called "ascii" and not "unicode" or "utf8" so we made up this fake hipster coffee-joint to be able to blame them for already having taken the name.
        Come visit us and say hello. We do have sofas :D
        </p>
      </div>
    </div>

  </div>
</section>

